@{
    @using (Html.BeginForm("Index", "Home"))
    {
        <p>Mad: @ViewBag.Mad</p>
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* @using (Html.BeginForm("OpretProdukt", "Home"))
{
    <div class="section-spacing">
        <button type="submit" name="OpretProdukt" value="OpretProdukt">Opret Produkt</button>
    </div>
} *@
