@using DTO_.Model
@{
    @using (Html.BeginForm("Index", "Home"))
    {

    }
}

<ol>
    @foreach (LagerDTO lager in ViewBag.lagre)
    {
        <li>
            Lager: @lager.Navn
            <ul>
                @foreach (IProdukt produkt in lager.Produkter)
                {
                    <li>@produkt.Navn</li>
                }
            </ul>
        </li>
    }
</ol>

<div class="text-center">
    <h1 class="display-4">Lagerstyrings Systemet BVI</h1>
    <p>Find ud af mere <a href="https://bergs-vinimport.dk/">Bergs VinImport</a>.</p>
</div>

@* @using (Html.BeginForm("OpretProdukt", "Home"))
{
    <div class="section-spacing">
        <button type="submit" name="OpretProdukt" value="OpretProdukt">Opret Produkt</button>
    </div>
} *@